# Python
*.pyc
__pycache__/
venv/
.env/

# Node (React)
node_modules/
build/
.env
.DS_Store

backend/client_onboarding.backup
backend/utils/hopetown_pvgis_profile_1.csv
backend/utils/hopetown_pvgis_profile_1.csv
backend/uploads/
backend/.env.template
backend/DEPLOYMENT.md
backend/uploads/
~$Generator_Simulation.xlsx
Generator_Simulation.xlsx
/backend/.env.development
/backend/.env.production
